@import url(reset.css);
#top-content nav .item-0, #top-content nav .item-1, #top-content nav .item-2, #top-content nav .item-3, #top-content nav .item-4, #top-content nav .item-5, #top-content nav .item-6, #top-content nav .item-7, #top-content nav .item-8, #top-content nav .item-search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 101px;
  height: 34px;
  /*border-width: thin */
  /*border-style: solid */
  /*border-color: white */
}

body {
  overflow-x: hidden;
  font-size: 10px;
  font-family: "Yantramanav", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

#main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 980px;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#top-content {
  /*@extend %mark */
  width: 100%;
  height: 538px;
  margin: 0px;
  text-align: center;
  background-image: url("../img/alpinists.jpg");
  background-position-y: bottom;
  background-position-x: center;
}
#top-content nav {
  /*width: 845px */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: auto;
  height: 36px;
  width: 977px;
  margin-top: 82px;
  background-image: url("../img/menu-back.png");
  /*background-image: url("../img/globalnav.png") */
  border-radius: 5px;
}
#top-content nav .item-0 {
  /*@extend %mark */
  background-repeat: no-repeat;
  background-image: url("../img/menu-labels.svg");
  background-position-x: -28px;
  background-position-y: 2px;
  border-right: thin solid rgba(70, 70, 70, 0.5);
}
#top-content nav .item-1 {
  /*@extend %mark */
  background-repeat: no-repeat;
  background-image: url("../img/menu-labels.svg");
  background-position-x: -28px;
  background-position-y: -28px;
  border-right: thin solid rgba(70, 70, 70, 0.5);
}
#top-content nav .item-2 {
  /*@extend %mark */
  background-repeat: no-repeat;
  background-image: url("../img/menu-labels.svg");
  background-position-x: -28px;
  background-position-y: -58px;
  border-right: thin solid rgba(70, 70, 70, 0.5);
}
#top-content nav .item-3 {
  /*@extend %mark */
  background-repeat: no-repeat;
  background-image: url("../img/menu-labels.svg");
  background-position-x: -28px;
  background-position-y: -88px;
  border-right: thin solid rgba(70, 70, 70, 0.5);
}
#top-content nav .item-4 {
  /*@extend %mark */
  background-repeat: no-repeat;
  background-image: url("../img/menu-labels.svg");
  background-position-x: -28px;
  background-position-y: -118px;
  border-right: thin solid rgba(70, 70, 70, 0.5);
}
#top-content nav .item-5 {
  /*@extend %mark */
  background-repeat: no-repeat;
  background-image: url("../img/menu-labels.svg");
  background-position-x: -28px;
  background-position-y: -148px;
  border-right: thin solid rgba(70, 70, 70, 0.5);
}
#top-content nav .item-6 {
  /*@extend %mark */
  background-repeat: no-repeat;
  background-image: url("../img/menu-labels.svg");
  background-position-x: -28px;
  background-position-y: -178px;
  border-right: thin solid rgba(70, 70, 70, 0.5);
}
#top-content nav .item-7 {
  /*@extend %mark */
  background-repeat: no-repeat;
  background-image: url("../img/menu-labels.svg");
  background-position-x: -28px;
  background-position-y: -208px;
  border-right: thin solid rgba(70, 70, 70, 0.5);
}
#top-content nav .item-8 {
  /*@extend %mark */
  background-repeat: no-repeat;
  background-image: url("../img/menu-labels.svg");
  background-position-x: -28px;
  background-position-y: -238px;
  border-right: thin solid rgba(70, 70, 70, 0.5);
}
#top-content nav .item-search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: top;
  padding: 0px 7px;
}
#top-content nav .item-search .fa-search {
  position: relative;
  left: 20px;
  color: white;
  font-size: 11px;
}
#top-content nav .item-search input {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 109px;
  text-indent: 30px;
  font-size: 16px;
  border-top: thin solid #3e3e3e;
  border-left: thin solid #3e3e3e;
  border-right: thin solid rgba(128, 128, 128, 0.8);
  border-bottom: thin solid rgba(128, 128, 128, 0.8);
}
#top-content nav .item-search input:focus {
  background-color: white;
}
#top-content #message-text {
  /*@extend %mark */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
  /*background-image: url("../img/text.png") */
}
#top-content #message-text .msg {
  font-weight: 400;
}
#top-content #message-text .big {
  font-size: 2em;
  margin-bottom: 0.5em;
}
#top-content #message-text .medium {
  margin-bottom: 1em;
}
#top-content #message-text .small {
  font-size: 0.8em;
  margin-bottom: 1em;
}

#articles {
  /*@extend %mark */
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: red;
}
#articles .article {
  -webkit-box-flex: 25%;
      -ms-flex-positive: 25%;
          flex-grow: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  border: 1px solid white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1440px;
  min-width: 980px;
  margin: auto;
  padding: 10px 0 26px;
  color: #6e6e6e;
  font: 10px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
footer div {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-top: 15px;
  text-align: left;
}
footer div a {
  color: #0088cc;
  text-decoration: none;
}
footer div a:hover {
  text-decoration: underline;
}
footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .links a {
  padding: 0 5px;
  border-right: thin solid lightgrey;
}
footer .links a:last-child {
  border-right: none;
}
